/*
 * header styles
 */
header {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
}

header::before {
  content: "";
  width: 20px;
  height: 100%;
}

header:after {
  content: url("images/logo.svg");
  display: block;
  width: auto;
  height: 50%;
}

